.heart {
  position: absolute;
  top: 0px;
  display: inline-block;
  animation: fly 5s linear infinite;
}

@keyframes fly {
  0% {
    transform: translate(0%, 100vh);
  }
  100% {
    transform: translate(100%, 0);
  }
}